.slider {
  display: inline-flex;
  text-align: center;
}
.arrow {
  display: inline-flex;
}

.cards {
  white-space: nowrap;
  display: inline-block;
  width: 80%;
  overflow: hidden;
  font-size: 0;
}

.card {
  /* border: 1px solid black; */
  /* padding: 1rem; */
  display: inline-block;
  white-space: normal;
  width: 100%;
  vertical-align: top;
  font-size: 1rem;
}

.card.active.sliding-left {
  animation: 1s slideToLeft 0s 1 normal;
}

.card.nextActive.sliding-right.hideLeft {
  animation: 1s slideToLeft 0s 1 reverse;
}

.hideLeft {
  margin-left: -100%;
}

@keyframes slideToLeft {
  from {
    margin-left: 0;
  }

  to {
    margin-left: -100%;
  }
}
